@keyframes scaleOut {
  from { transform: scale(1); }
  to { transform: scale(0); }
}

@keyframes antMove {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
@keyframes antMoveMd {
  from { transform: translateX(0); }
  to { transform: translateX(-75%); }
}
@keyframes antMoveSm {
  from { transform: translateX(0); }
  to { transform: translateX(-150%); }
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes scrollLine {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
