/* ------------------------------
  Media query
--------------------------------- */
@use 'sass:map';

$breakpoints: (
  'xl': '(min-width: 1441px)',
  'lg': '(min-width: 1025px)',
  'md': '(min-width: 768px) and (max-width: 1024px)',
  'sm': '(max-width: 767.9px)',
  'xs': '(max-width: 374px)'
) !default;

// 名前空間付きでmixinを定義
@function breakpoint($name) {
  @return map.get($breakpoints, $name);
}

@mixin media($breakpoint) {
  @media #{breakpoint($breakpoint)} {
    @content;
  }
}

/* ------------------------------
  Theme color
--------------------------------- */
$color-primary: #005ea7;
$color-secondary: #c2dff4;
$color-accent: #fada5f;
$color-gray: #c2c6ca;
$text-color: #333;
$text-color-gray: #707070;

/* ------------------------------
  Fonts
--------------------------------- */
@font-face {
  font-family: 'caveat';
  src: url('/fonts/Caveat-Bold.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'lexend';
  src: url('/fonts/LexendDeca-Regular.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'lexend';
  src: url('/fonts/LexendDeca-SemiBold.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: bold;
}

$font-caveat: 'caveat', serif;
$font-lexend: 'lexend', serif;
