@use '../common/utils' as *;
@use 'sass:color';

.scrollContainer__wrapper {
  margin: auto;
  position: fixed;
  inset: 0;
  height: 90vh;
  width: 90vw;

  // スクロールコンテナー
  .scrollContainer {
    border-radius: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100%;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    // コンテンツ
    .content {
      background-color: #fff;
      border-radius: 20px;
      scroll-snap-align: start;
      height: 100%;
      width: 100%;
    }
  }

  // prev, nextボタン
  .scrollBtn {
    cursor: pointer;
    position: absolute;
    top: -30px;
    bottom: 0;
    margin: auto;
    height: 60px;
    width: 60px;
    z-index: 1;

    &.-prev {
      left: -3vw;
    }

    &.-next {
      right: -3vw;
    }

    &__inner {
      position: relative;
      height: 100%;
      width: 100%;

      &::before {
        content: '';
        border: 0;
        margin: auto;
        position: absolute;
        inset: 0;
        transition: border-color .3s;
        transform: rotate(45deg);
        height: 30px;
        width: 30px;
      }
    }

    &.-prev .scrollBtn__inner::before {
      border-bottom: solid 4px $accent-color;
      border-left: solid 4px $accent-color;
    }

    &.-next .scrollBtn__inner::before {
      border-top: solid 4px $accent-color;
      border-right: solid 4px $accent-color;
    }

    @include media('pc') {
      &:hover .scrollBtn__inner::before {
        border-color: color.adjust($accent-color, $lightness: 15%);
      }
    }
  }
}
