@use './includes/variables' as *;

/* ------------------------------
  Common
--------------------------------- */
// Lenis導入のため、デフォルトのスクロール挙動を無効化
html {
  overflow: hidden;
}

@include media('lg') {
  .lg { display: block !important; }
  .sm { display: none !important; }
}

@include media('md') {
  .lg { display: none !important; }
  .sm { display: none !important; }
}

@include media('sm') {
  .lg { display: none !important; }
  .sm { display: block !important; }
}

/* ------------------------------
  Display
--------------------------------- */
.d-none { display: none !important; }
.d-block { display: block !important; }
.d-inBlock { display: inline-block !important; }

/* ------------------------------
  Margin
--------------------------------- */
// all
.m-auto { margin: auto !important; }
.m-0 { margin: 0 !important; }

// top
.mt-0 { margin-top: 0 !important; }
.mt-4 { margin-top: 4px !important; }
.mt-8 { margin-top: 8px !important; }
.mt-12 { margin-top: 12px !important; }
.mt-16 { margin-top: 16px !important; }
.mt-20 { margin-top: 20px !important; }

// bottom
.mb-0 { margin-bottom: 0 !important; }
.mb-4 { margin-bottom: 4px !important; }
.mb-8 { margin-bottom: 8px !important; }
.mb-12 { margin-bottom: 12px !important; }
.mb-16 { margin-bottom: 16px !important; }
.mb-20 { margin-bottom: 20px !important; }

// left
.ml-0 { margin-left: 0 !important; }
.ml-8 { margin-left: 8px !important; }

// right
.mr-0 { margin-right: 0 !important; }
.mr-8 { margin-right: 8px !important; }

/* ------------------------------
  Padding
--------------------------------- */
// all
.p-0 { padding: 0 !important; }

// top
.pt-0 { padding-top: 0 !important; }

// bottom
.pb-0 { padding-bottom: 0 !important; }

// left
.pl-0 { padding-left: 0 !important; }

// right
.pr-0 { padding-right: 0 !important; }

/* ------------------------------
  Flexbox
--------------------------------- */
.d-flex { display: flex; }

// align-items
.align-start { align-items: flex-start; }
.align-end { align-items: flex-end; }
.align-center { align-items: center; }

// justify-content
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-around { justify-content: space-around; }
.justify-between { justify-content: space-between; }

// flex-direction
.flex-row { flex-direction: row; }
.flex-row-r { flex-direction: row-reverse; }
.flex-column { flex-direction: column; }
.flex-column-r { flex-direction: column-reverse; }
@include media('md') {
  .md-flex-column { flex-direction: column; }
}
@include media('sm') {
  .sm-flex-column { flex-direction: column; }
}

// flex-wrap
.flex-wrap { flex-wrap: wrap; }
.flex-wrap-r { flex-wrap: wrap-reverse; }
.flex-nowrap { flex-wrap: nowrap; }

// gap
.gap-4 { gap: 4px; }
.gap-8 { gap: 8px; }
.gap-12 { gap: 12px; }
.gap-16 { gap: 16px; }
.gap-20 { gap: 20px; }
.gap-40 { gap: 40px; }
.gap-60 { gap: 60px; }

@include media('md') {
  .md-gap-4 { gap: 4px; }
  .md-gap-8 { gap: 8px; }
  .md-gap-12 { gap: 12px; }
  .md-gap-16 { gap: 16px; }
  .md-gap-20 { gap: 20px; }
  .md-gap-40 { gap: 40px; }
  .md-gap-60 { gap: 60px; }
}

@include media('sm') {
  .sm-gap-4 { gap: 4px; }
  .sm-gap-8 { gap: 8px; }
  .sm-gap-12 { gap: 12px; }
  .sm-gap-16 { gap: 16px; }
  .sm-gap-20 { gap: 20px; }
  .sm-gap-40 { gap: 40px; }
  .sm-gap-60 { gap: 60px; }
}

// order
.order-first { order: -1 }
.order-0 { order: 0;}
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }

// flex-shrink
.flex-shrink-0 { flex-shrink: 0; }

/* ------------------------------
  Contents
--------------------------------- */
.container {
  margin: auto;
  position: relative;
}

.sectionWrapper {
  margin: 120px auto;
  position: relative;
  max-width: 960px;
  width: 60%;

  @include media('xl') {
    width: 45%;
  }

  @include media('md') {
    margin: 80px auto;
    width: 80%;
  }

  @include media('sm') {
    margin: 40px auto;
    max-width: 80%;
    width: calc(100% - 40px);
  }

  @include media('xs') {
    margin: 24px auto;
    max-width: 85%;
    width: calc(100% - 24px);
  }
}

.section {
  position: relative;

  &:not(:last-of-type) {
    margin-bottom: 100px;
    padding-bottom: 120px;

    @include media('md') {
      margin-bottom: 80px;
      padding-bottom: 60px;
    }

    @include media('sm') {
      margin-bottom: 40px;
      padding-bottom: 60px;
    }

    &.--partition::after {
      content: '';
      background-color: $color-gray;
      margin: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
    }
  }

  // text
  .section__text {
    margin-bottom: 2.5rem;

    @include media('sm') {
      margin-bottom: 2rem;
    }
  }

  // note
  .section__text-note {
    color: $text-color-gray;
    font-size: .9rem;
  }
}

// card list
.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: auto;

  @include media('sm') {
    gap: 2.5rem;
  }

  &__item {
    border: 1px solid $color-gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1.5rem;
    width: calc(50% - 1.5rem);

    @include media('sm') {
      width: 100%;
    }

    &-image {
      margin-bottom: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        height: 64px;
        width: 64px;

        img {
          object-fit: contain;
          height: 100%;
        }
      }
    }

    &-title {
      font-size: 1.3rem;
      line-height: 1.75;
      margin-bottom: 0.5rem;
      text-align: center;
    }

    &-text {
      font-size: 1rem;
    }

    &-link {
      width: fit-content;
      margin: auto;
      background-color: $color-primary;
      border-radius: 20px;
      margin-top: 1rem;
      position: relative;

      &Text {
        color: white;
        display: inline-block;
        padding: .1rem 1.5rem;
      }

      &.--disabled {
        background-color: $color-gray;
        cursor: default;
      }

      &:not(.--disabled) {
        padding-right: 1.5rem;

        &::before,
        &::after {
          content: '';
          background-color: white;
          margin: auto;
          position: absolute;
          top: -1px;
          bottom: 0;
          right: 1.2rem;
          height: 2px;
          width: 10px;
          transform-origin: calc(100% - 1px) 50%;
          transition: right .15s;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }

        @include media('lg') {
          &:hover::before,
          &:hover::after {
            right: 1rem;
          }
        }
      }
    }
  }
}

/* ------------------------------
  Hover
--------------------------------- */
@include media('lg') {
  .hover-opacity {
    transition: opacity .3s;

    &:hover {
      opacity: .7;
    }
  }
}
