@use 'includes/reset';
@use 'includes/variables' as *;

/* ------------------------------
  PC only or SP only
--------------------------------- */
@include media('pc') {
  .pc {
    display: block !important;
  }
  .sp {
    display: none !important;
  }
}

@include media('sp') {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}

/* ------------------------------
  display
--------------------------------- */
.d-none {
  display: none !important;
}

/* ------------------------------
  contents
--------------------------------- */
.container {
  background-color: $container-bg;
  margin: auto;
  position: relative;
  height: $container-h;
  width: $container-w;
  max-width: $container-maxW;

  @include media('sp') {
    padding: 0 20px;
    max-width: 100%;
  }
}

/* ------------------------------
  flex
--------------------------------- */
.d-flex {
  display: flex;
  gap: $flex-gap;

  .d-flex__item {
    flex-shrink: 0;
  }
}

/* ------------------------------
  other
--------------------------------- */
// ダブルクリックによる要素のズームを無効化
.no-zoom {
  touch-action: manipulation;
  user-select: none;
}
