/* ------------------------------
  Base text style
--------------------------------- */
@use 'includes/variables' as *;

html {
  color: $text-color-base;
  font-family: $base-font-family;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;

  @include media('sm') {
    font-size: $font-size-sm;
  }
}

// font-family
.font-family-base { font-family: $base-font-family; }
.font-family-accent { font-family: $accent-font-family; }

// color
.color-primary { color: $color-primary; }
.color-base { color: $text-color-base; }
.color-white { color: $color-white; }
.color-gray { color: $text-color-gray; }

// font-weight
.weight-n { font-weight: normal; }
.weight-b { font-weight: bold; }
.weight-300 { font-weight: 300; }
.weight-400 { font-weight: 400; }
.weight-500 { font-weight: 500; }
.weight-600 { font-weight: 600; }

// text-align
.t-align-start { text-align: start; }
.t-align-end { text-align: end; }
.t-align-center { text-align: center; }

/* ------------------------------
  Title
--------------------------------- */
h1 {
  color: $color-white;
  font-family: $accent-font-family;
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: .5rem;
  line-height: 1.5;

  @include media('md') {
    font-size: 5.5rem;
  }

  @include media('sm') {
    font-size: 3.5rem;
    letter-spacing: .275rem;
  }

  @include media('xs') {
    font-size: 3rem;
    letter-spacing: .25rem;
  }
}

.section__title {
  font-family: $accent-font-family;
  color: $color-primary;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: .1rem;
  line-height: 1.5;
  margin-bottom: 40px;

  @include media('md') {
    font-size: 3rem;
    margin-bottom: 28px;
  }

  @include media('sm') {
    font-size: 2.5rem;
    line-height: 1.75;
    text-align: center;
    margin-bottom: 20px;
  }
}

.section__subTitle {
  font-family: $accent-font-family;
  color: $text-color-base;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 12px;

  @include media('md') {
    font-size: 1.15rem;
  }

  @include media('sm') {
    font-size: 1.125rem;
    letter-spacing: .04rem;
    line-height: 1.75;
    margin-bottom: 8px;
  }

  &.-icon {
    padding-left: 1.2rem;
    position: relative;

    @include media('sm') {
      padding-left: 1.05rem;
    }

    &::before {
      content: '';
      background-color: $color-primary;
      border-radius: 2px;
      display: block;
      margin: auto 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      transform: rotate(45deg);
      height: .65rem;
      width: .65rem;
    }
  }
}
