/* ------------------------------
  Text style
--------------------------------- */
@use 'includes/variables' as *;

html {
  color: $text-color-base;
  font-family: $base-font-family;
  font-size: 1.05rem;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;

  @include media('sm') {
    font-size: 1rem;
  }
}

// font-family
.font-family-base { font-family: $base-font-family; }
.font-family-accent { font-family: $accent-font-family; }

// color
.color-primary { color: $color-primary; }
.color-base { color: $text-color-base; }
.color-white { color: $color-white; }
.color-gray { color: $text-color-gray; }

// font-weight
.weight-n { font-weight: normal; }
.weight-b { font-weight: bold; }
.weight-300 { font-weight: 300; }
.weight-400 { font-weight: 400; }
.weight-500 { font-weight: 500; }
.weight-600 { font-weight: 600; }

// line-height
.line-height-1 { line-height: 1; }

// text-align
.t-align-start { text-align: start; }
.t-align-end { text-align: end; }
.t-align-center { text-align: center; }

/* ------------------------------
  Title
--------------------------------- */
h1 {
  color: $color-primary;
  font-family: $accent-font-family;
  font-size: 6.5rem;
  font-weight: 600;
  letter-spacing: .5rem;
  line-height: 1.35;

  @include media('xl') {
    font-size: 7rem;
  }

  @include media('md') {
    font-size: 6rem;
  }

  @include media('sm') {
    font-size: 4.75rem;
    letter-spacing: .35rem;
  }
}

.section__title {
  font-family: $accent-font-family;
  color: $color-primary;
  font-size: 4.25rem;
  font-weight: 600;
  letter-spacing: .15rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 60px;

  @include media('md') {
    font-size: 4rem;
    margin-bottom: 40px;
  }

  @include media('sm') {
    font-size: 3rem;
    letter-spacing: .145rem;
    line-height: 1.75;
    margin-bottom: 20px;
  }
}

.section__subTitle {
  font-family: $accent-font-family;
  color: $text-color-base;
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 20px;

  @include media('md') {
    font-size: 1.25rem;
    margin-bottom: 16px;
  }

  @include media('sm') {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 12px;
  }

  &.-icon {
    padding-left: 1.25rem;
    position: relative;

    @include media('sm') {
      padding-left: 1.2rem;
    }

    &::before {
      content: '';
      background-color: $color-primary;
      border-radius: 50%;
      display: block;
      margin: auto 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      height: .85rem;
      width: .85rem;

      @include media('sm') {
        height: .8rem;
        width: .8rem;
      }
    }
  }
}
