/* ------------------------------
  MV
--------------------------------- */
// Scroll icon
@keyframes scrollIcon_ripple {
  0% { opacity: 0; }
  30% { opacity: 1; }
  50% { opacity: 0; box-shadow: 0 0 0 24px rgb(146 196 220 / .8); }
  100% { opacity: 0; }
}

// Rabbit
@keyframes float {
  0% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY(-12px) rotate(4deg); }
  100% { transform: translateY(0) rotate(0deg); }
}
