/* ------------------------------
  CSS Reset
--------------------------------- */
*,
*::before,
*::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
select,
input,
textarea {
  background-color: transparent;
  border-radius: 0;
  font: inherit;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  overflow: auto;
  resize: vertical;
}

img, picture, video, canvas, svg {
  display: block;
  width: 100%;
}
