/* ------------------------------
  Media query
--------------------------------- */
@use 'sass:map';

$breakpoints: (
  'xl': '(min-width: 1441px)',
  'lg': '(min-width: 1025px)',
  'md': '(min-width: 768px) and (max-width: 1024px)',
  'sm': '(max-width: 767.9px)',
  'xs': '(max-width: 349px)'
) !default;

// 名前空間付きでmixinを定義
@function breakpoint($name) {
  @return map.get($breakpoints, $name);
}

@mixin media($breakpoint) {
  @media #{breakpoint($breakpoint)} {
    @content;
  }
}

/* ------------------------------
  Text
--------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap');
$base-font-family: 'Inter', serif;
$accent-font-family: 'Lexend Deca', serif;
$font-size: 1.05rem;
$font-size-sm: 1rem;
$line-height: 2rem;

/* ------------------------------
  color
--------------------------------- */
$color-base: #fff;
$color-primary: #005ea7;
$color-secondary: #d4ebec;

$color-white: #fff;
$color-gray: #d7dde1;

// Text color
$text-color-base: #333;
$text-color-gray: #707070;
