/* ------------------------------
  media query
--------------------------------- */
@use 'sass:map';

$breakpoints: (
  'pc': '(min-width: 768px)',
  'sp': '(max-width: 767px)',
) !default;

// 名前空間付きでmixinを定義
@function breakpoint($name) {
  @return map.get($breakpoints, $name);
}

@mixin media($breakpoint) {
  @media #{breakpoint($breakpoint)} {
    @content;
  }
}

/* ------------------------------
  contents
--------------------------------- */
$container-bg: #f5af7d;
$container-h: 100vh;
$container-w: 100vw;
$container-maxH: 100%;
$container-maxW: 100%;

/* ------------------------------
  flex
--------------------------------- */
$flex-gap: 40px;

/* ------------------------------
  typography
--------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$font-color: #333;
$font-family: 'Inter', serif;
$font-size: 1em;
$line-height: 1.5;

/* ------------------------------
  theme color
--------------------------------- */
$base-color: #fff;
$primary-color: #f5af7d;
$accent-color: #005ea7;
